@{
    ViewData["Title"] = "Send Logs";
}

<div class="d-flex">
   
    <div class="d-flex flex-column p-3 bg-light" style="width: 200px; min-height: 100vh;">
        <h5 class="text-center mb-4">Actions</h5>
        <div class="d-grid gap-2">
            <a asp-action="Index" class="btn btn-dark">
                <i class="fa fa-paper-plane me-2"></i> Home
            </a>
            <a asp-action="ShowSendLogs" class="btn btn-outline-primary">
                <i class="fa fa-paper-plane me-2"></i> Send Logs
            </a>
            <a asp-action="ShowGetLogs" class="btn btn-secondary">
                <i class="fa fa-download me-2"></i> Get Logs
            </a>
            <a asp-action="ShowGetApps" class="btn btn-success">
                <i class="fa fa-cogs me-2"></i> Get Apps
            </a>
            <a asp-action="ShowGetUpdate" class="btn btn-info">
                <i class="fa fa-refresh me-2"></i> Get Update
            </a>
            <a asp-action="ShowUploadUpdate" class="btn btn-dark">
                <i class="fa fa-upload me-2"></i> Upload Update
            </a>
            <a asp-action="ShowGetNewerVersion" class="btn btn-warning">
                <i class="fa fa-arrow-up me-2"></i> Get Newer Version
            </a>
            <a asp-action="ShowAddNewApplication" class="btn btn-danger">
                <i class="fa fa-plus-circle me-2"></i> Add New Application
            </a>
            
        </div>
    </div>

    
    <div class="flex-grow-1 p-4 d-flex flex-column align-items-center">
        <h1 class="mb-4 align-self-start">Send Logs</h1>
        <form asp-action="SendLogs" style="width: 50%; max-width: 400px;">
            <div class="mb-3">
                <input type="text" class="form-control" name="appId" placeholder="AppId" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="message" placeholder="Message" required>
            </div>
            <button class="btn btn-secondary w-100">Send Logs</button>
        </form>
    </div>
</div>





