@model List<GetAppModel>
@{
    ViewData["Title"] = "Get Update";
}
<div class="d-flex">
    
    <div class="d-flex flex-column p-3 bg-light" style="width: 250px; min-height: 100vh;">
        <h3 class="text-center mb-3">Actions</h3>
        <div class="d-grid gap-2">
            <a asp-action="Index" class="btn btn-dark">
                <i class="fa fa-home me-2"></i> Home
            </a>
            <a asp-action="ShowSendLogs" class="btn btn-primary">
                <i class="fa fa-paper-plane me-2"></i> Send Logs
            </a>
            <a asp-action="ShowGetLogs" class="btn btn-secondary">
                <i class="fa fa-download me-2"></i> Get Logs
            </a>
            <a asp-action="ShowGetApps" class="btn btn-success">
                <i class="fa fa-cogs me-2"></i> Get Apps
            </a>
            <a asp-action="ShowGetUpdate" class="btn btn-outline-info" style="transform:scale(110%)">
                <i class="fa fa-refresh me-2"></i> Get Update
            </a>
            <a asp-action="ShowUploadUpdate" class="btn btn-dark">
                <i class="fa fa-upload me-2"></i> Upload Update
            </a>
            <a asp-action="ShowGetNewerVersion" class="btn btn-warning">
                <i class="fa fa-arrow-up me-2"></i> Get Newer Version
            </a>
            <a asp-action="ShowAddNewApplication" class="btn btn-danger">
                <i class="fa fa-plus-circle me-2"></i> Add New Application
            </a>
            
        </div>
    </div>

    
    <div class="flex-grow-1 p-4">
        <h1 class="mb-4 align-self-start">Get Update</h1>
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="mb-3">Get Update By File Name</h4>
                <form asp-action="GetUpdate" method="post">
                    <select class="form-control mb-2" name="nazwa_aplikacji" required>
                        <option value="">Select app</option>
                       @foreach (var app in Model)
                        {
                            <option value="@app.app_Name">@app.id - @app.app_Name</option>
                        }
                       
                    </select>
                    <input type="text" class="form-control mb-2" name="version" placeholder="Enter Version" required>
                    <button class="btn btn-info">Fetch</button>
                </form>
            </div>
        </div>
    </div>
</div>
