@{
    ViewData["Title"] = "Add New Application";
}

<div class="d-flex">
    <!-- Pasek boczny -->
    <div class="d-flex flex-column p-3 bg-light" style="width: 250px; min-height: 100vh;">
        <h5 class="text-center mb-4">Actions</h5>
        <div class="d-grid gap-2">
            <a asp-action="Index" class="btn btn-dark">
                <i class="fa fa-paper-plane me-2"></i> Home
            </a>
            <a asp-action="ShowSendLogs" class="btn btn-primary">
                <i class="fa fa-paper-plane me-2"></i> Send Logs
            </a>
            <a asp-action="ShowGetLogs" class="btn btn-secondary">
                <i class="fa fa-download me-2"></i> Get Logs
            </a>
            <a asp-action="ShowGetApps" class="btn btn-success">
                <i class="fa fa-cogs me-2"></i> Get Apps
            </a>
            <a asp-action="ShowGetUpdate" class="btn btn-info">
                <i class="fa fa-refresh me-2"></i> Get Update
            </a>
            <a asp-action="ShowGetNewerVersion" class="btn btn-warning">
                <i class="fa fa-arrow-up me-2"></i> Get Newer Version
            </a>
            <a asp-action="ShowAddNewApplication" class="btn btn-outline-danger">
                <i class="fa fa-plus-circle me-2"></i> Add New Application
            </a>
            <a asp-action="ShowUploadUpdate" class="btn btn-dark">
                <i class="fa fa-upload me-2"></i> Upload Update
            </a>
        </div>
    </div>

    <!-- Zawartość główna -->
    <div class="flex-grow-1 p-4">
        <h1 class="mb-4 align-self-start">Add New Application</h1>
        <div class="card mb-3">
            <div class="card-body">
                <form asp-action="AddNewApplication">
                   
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Enter Application Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Enter Directory Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Site Address">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="iisAppPoolName">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="iisAppPoolName">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="pgsqlConnectionString">
                    </div>
                    <button class="btn btn-success">Add Application</button>
                </form>
            </div>
        </div>
    </div>
</div>
